.header {
	position: relative;
	z-index: $header-zindex;
	
	& .header-logo {
		height: $header-height;
		
		@include display-flex();
		@include flex-align(center);
		@include flex-justify-content(center);
		@include media-breakpoint-down(lg) {
			height: $header-height-mobile;
			
			@if $enable-rtl {
				margin-left: auto;
			} @else {
				margin-right: auto;
			}
		}
		
		& .logo-link {
			text-decoration: none;
			color: $white;
			position: relative;
			display: block;
			
			@include display-flex();
			@include flex-align(center);
			
			& b {
				font-size: $font-size-lg * 1.25;
				
				@include media-breakpoint-down(lg) {
					font-size: $font-size-lg * 1.25;
				}
			}
			& .logo {
				border: 3px solid rgba($white, .5);
				width: rem(30px);
				height: rem(30px);
				display: block;
				position: relative;
				
				@include border-radius(30px);
				@if $enable-rtl {
					margin-left: $spacer * 0.6;
				} @else {
					margin-right: $spacer * 0.6;
				}
				
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					
					width: rem(16px);
					height: rem(16px);
					margin: rem(4px);
					background: rgba($white, .25);
				
					@include border-radius(30px);
				}
			}
			& small {
				font-weight: bold;
				opacity: 0.5;
				margin-top: rem(-40px);
				font-size: $font-size-base * 0.5;
				
				@if $enable-rtl {
					margin-right: rem(-20px);
				} @else {
					margin-left: rem(-20px);
				}
			}
		}
	}
	& .header-nav {
		height: $header-height;
		margin-left: auto;
		
		@include display-flex();
		@include flex-align(center);
		@include media-breakpoint-down(lg) {
			height: auto;
			position: absolute;
			top: $header-height-mobile;
			left: 0;
			right: 0;
			margin: 0;
			display: none;
			width: 100%;
			background: rgba($gray-900, .95);
			padding-top: $spacer * 0.5;
			padding-bottom: $spacer * 0.5;
		}
		
		& > .container {
			padding: 0;
			
			@include media-breakpoint-up(lg) {
				@include display-flex();
				@include flex-align(center);
			}
		}
		
		& .header-nav-item {
			& .header-nav-link {
				font-size: $font-size-base;
				font-weight: 600;
				color: $white;
				text-decoration: none;
				padding: $nav-link-padding-y $nav-link-padding-x;
				display: block;
				
				&:hover {
					color: rgba($white, .5);
				}
			}
			
			& + .header-nav-item {
				@include media-breakpoint-up(xl) {
					@if $enable-rtl {
						margin-right: $spacer * 0.75;
					} @else {
						margin-left: $spacer * 0.75;
					}
				}
			}
		}
	}
	& .header-btn {
		@if $enable-rtl {
			margin-right: auto;
		} @else {
			margin-left: auto;
		}
		
		@include display-flex();
		@include flex-align(center);
	}
	& .header-mobile-nav-toggler {
		border: none;
		width: $header-height-mobile * 0.75;
		height: $header-height-mobile;
		background: none;
		margin: 0;
		display: none;
		
		@if $enable-rtl {
			margin-right: $spacer;
		} @else {
			margin-left: $spacer;
		}
		@include media-breakpoint-down(lg) {
			@include display-flex();
			@include flex-align(center);
		}
		
		& .header-mobile-nav-toggler-icon {
			display: block;
			position: relative;
			width: 100%;
			
			&:before,
			&:after {
				content: '';
				top: rem(10px);
				height: rem(3px);
				left: 0;
				right: 0;
				display: block;
				background: rgba($white, .25);
			}
			&:after {
				margin-top: rem(5px);
			}
		}
	}
	&.header-default {
		background: $white;
		@include box-shadow(0 0 0 1px rgba($gray-900, .1));
		
		& .header-logo {
			& .logo-link {
				color: $gray-900;
				
				& .logo {
					border-color: rgba($primary, 1);
				
					&:before {
						background: rgba($primary, .75);
					}
				}
			}
		}
		& .header-nav {
			@include media-breakpoint-down(lg) {
				background: rgba($white, .95);
			}
		
			& .header-nav-item {
				& .header-nav-link {
					color: $gray-900;
				
					&:hover {
						color: rgba($gray-900, .5);
					}
				}
			}
		}
		& .header-mobile-nav-toggler {
			& .header-mobile-nav-toggler-icon {
				&:before,
				&:after {
					background: rgba($gray-900, .25);
				}
			}
		}
	}
	&.header-float {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}