<!-- begin theme-panel -->
	<div class="theme-panel">
		<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
		<div class="theme-panel-content">
			<ul class="theme-list clearfix">
				<li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../assets/css/corporate/theme/red.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Red">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="../assets/css/corporate/theme/pink.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Pink">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../assets/css/corporate/theme/orange.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Orange">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="../assets/css/corporate/theme/yellow.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Yellow">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="../assets/css/corporate/theme/lime.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Lime">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="../assets/css/corporate/theme/green.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Green">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-teal" data-theme="teal" data-theme-file="../assets/css/corporate/theme/teal.min.css" data-theme="default" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Teal">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-cyan" data-theme="aqua" data-theme-file="../assets/css/corporate/theme/cyan.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Cyan">&nbsp;</a></li>
				<li class="active"><a href="javascript:;" class="bg-blue" data-theme="" data-theme-file="" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Default">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../assets/css/corporate/theme/purple.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Purple">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="../assets/css/corporate/theme/indigo.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Indigo">&nbsp;</a></li>
				<li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="../assets/css/corporate/theme/black.min.css" data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Black">&nbsp;</a></li>
			</ul>
		</div>
	</div>
	<!-- end theme-panel -->